@import '../variables';
.about {
    padding: 0;
    position: relative;
    &_title {
        color: var(--grayscale-black, #000);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
        text-transform: uppercase;
        width: auto;
        padding-bottom: 20px;
        &::after {
            position: absolute;
            content: '';
            top: 9px;
            left: 115px;
            width: 530px;
            height: 2px;
            background: #000;
        }
    }
    &_block {
        padding-bottom: 98px;
        width: 653px;
        & h4 {
            color: var(--grayscale-50, #333);
            font-family: Montserrat;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 50.4px */
            padding-bottom: 45px;
        }
        & p {
            color: var(--grayscale-10, #9C9C9C);
            /* Montserrat/Regular/18 */
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 28.8px */
        }
        &_button {
            color: #fff;
            padding: 14px 32px;
            background: $PrimaryBlue100;
        }
    }
    &_block_down {
        margin-left: 40%;
        padding-right: 3%;
        p {    
        margin-bottom: 30px;
        }
    }
}
.advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 465px;
    background: $PrimaryBlue100;
    padding: 55px 70px 35px;
    margin-bottom: 85px;
    &_block {
        width: 55%;
        display: inline;
        margin-bottom: 25px;
        & img {
            display: block;
            float: left;
        }
        .small {
            display: none;
        }
        & p {
            display: block;
            width: 66%;
            float: left;
            padding-top: 30px;
            padding-left: 30px;
            color: var(--grayscale-white, #FFF);
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 24px */
        }
    }
    &_block:first-child {
        p {
            width: 50%;
        }
    }
    &_block:last-child {
        width: 45%;
    }
    &_block:nth-last-child(2) {
        width: 45%;
    }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
    .about_block {
        width: 700px;
        padding-bottom: 80px;
        h4 {
            font-size: 36px;
            padding-bottom: 31px;
        }
        p {
            width: 653px;
            margin-bottom: 0;
        }
        &_down {
            width: 634px;
            margin-left: 0;
            padding-right: 3%;
            p {
                width: 634px;
                margin-bottom: 31px;
            }
        }
    }
    .advantages {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        height: auto;
        &_block {
            width: 90%;
            .small {
                display: none;
            }
        }
        &_block:first-child {
            width: 65%;
            p {
                width: 70%;
            }
        }
        &_block:last-child {
            width: 90%;
        }
        &_block:nth-last-child(2) {
            width: 90%;
        }
    }
}
@media screen and (max-width: 767px) {
    .about_title {
        padding-bottom: 11px;
        font-size: 12px;
        &::after {
            top: 9px;
            left: 80px;
            width: 70vw;
        }
    }
    .about_block {
        width: auto;
        padding-bottom: 45px;
        h4 {
            font-size: 20px;
            padding-bottom: 31px;
        }
        p {
            font-size: 16px;
            margin-bottom: 0;
            padding-left: 2%;
            padding-right: 10%;
        }
        &_down {
            width: auto;
            margin-left: 0;
            padding-right: 3%;
            padding-bottom: 90px;
            p {
                width: 330px;
                margin-bottom: 55px;
            }
        }
    }
    .advantages {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        height: auto;
        padding: 50px 25px;
        margin-bottom: 60px;
        &_block {
            width: 100%;
            p {
                padding-top: 20px;
                padding-left: 30px;
                font-size: 16px;
                width: 75%;
            }
            .small {
                display: block;
            }
            .big {
                display: none;
            }
        }
        &_block:first-child {
            width: 100%;
            p {
                width: 75%;
            }
        }
        &_block:nth-child(2) {
            p {
                padding-top: 9px;
            }
        }
        &_block:last-child {
            width: 100%;
        }
        &_block:nth-last-child(2) {
            width: 100%;
        }
    }
}
