.collage {
    padding-bottom: 100px;
    position: relative;
    h3 {
        color: var(--grayscale-black, #000);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
        text-transform: uppercase;
        width: auto;
        padding-bottom: 25px;
        &::after {
            position: absolute;
            content: '';
            width: 475px;
            height: 2px;
            background: #000;
        }
    }
    &_title_loc::after {
        top: 9px;
        left: 170px;
    }
    &_title_main::after {
        top: 10px;
        left: 175px;
    }
    h4 {
        color: var(--grayscale-50, #333);
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 50.4px */
        padding-bottom: 45px;
    }
    &_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 2px;
        justify-items: end;
        position: relative;
        &_box:first-child {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            .comment1 {
                top: 225px;
                left: 20px;
                width: 395px;
            }
        }
        &_box:nth-child(2) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            .comment2 {
                top: 515px;
                left: 30px;
                width: 233px;
            }
        }
        &_box:nth-child(3) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            .comment3 {
                top: 515px;
                left: 330px;
                width: 233px;
            }
        }
        &_box:nth-child(4) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
            .comment4 {
                top: 500px;
                left: 630px;
                width: 233px;
            }
        }
        &_box:nth-child(5) {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
            .comment5 {
                top: 225px;
                left: 935px;
                width: 233px;
            }
        }
        &_box:nth-child(6) {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
            .comment6 {
                top: 520px;
                left: 930px;
                width: 233px;
            }
        }
        &_box {
            .coll2 {
                display: none;
            }
            .coll3 {
                display: none;
            }
        }
    }
}
.img_comment {
    position: absolute;
    z-index: 1;
    color: var(--grayscale-white, #FFF);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
    .collage {
        padding-bottom: 60px;
        &_container {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 10px;
            &_box:first-child {
                .comment1 {
                    top: 235px;
                    left: 20px;
                    width: 395px;
                }
            }
            &_box:nth-child(2) {
                .comment2 {
                    top: 205px;
                    left: 20px;
                    width: 233px;
                }
            }
            &_box:nth-child(3) {
                .comment3 {
                    top: 205px;
                    left: 20px;
                    width: 233px;
                }
            }
            &_box:nth-child(4) {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 5;
                .comment4 {
                    top: 515px;
                    left: 20px;
                    width: 233px;
                }
            }
            &_box:nth-child(5) {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
                .comment5 {
                    top: 230px;
                    left: 20px;
                    width: 233px;
                }
            }
            &_box:nth-child(6) {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 4;
                grid-row-end: 5;
                .comment6 {
                    top: 210px;
                    left: 20px;
                    width: 233px;
                }
            }
            &_box {
                position: relative;
                width: 100%;
                height: auto;
                img {
                    width: 100%;
                }
                .coll1 {
                    display: none;
                }
                .coll2 {
                    display: block;
                }
                .coll-trim {
                    height: 300px;
                }
                .coll-trim2 {
                    height: 613px;
                }
                .coll3 {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .collage {
        padding-bottom: 60px;
        h3 {
            font-size: 12px;
            padding-bottom: 11px;
            &::after {  
            width: 225px;
            }
        }
        h4 {
            font-size: 20px;
            padding-bottom: 30px;
        }
        &_container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            row-gap: 10px;
            &_box {
                position: relative;
                width: 100%;
                height: auto;
                .coll1 {
                    display: none;
                }
                .coll2 {
                    display: none;
                }
                .coll3 {
                    display: block;
                }
            }
            &_box:first-child {
                .comment1 {
                    top: 210px;
                    left: 20px;
                    width: 260px;
                }
            }
            &_box:nth-child(2) {
                .comment2 {
                    top: 210px;
                    left: 20px;
                    width: 260px;
                }
            }
            &_box:nth-child(3) {
                .comment3 {
                    top: 210px;
                    left: 20px;
                    width: 260px;
                }
            }
            &_box:nth-child(4) {
                .comment4 {
                    top: 500px;
                    left: 20px;
                    width: 255px;
                }
            }
            &_box:nth-child(5) {
                .comment5 {
                    top: 220px;
                    left: 20px;
                    width: 260px;
                }
            }
            &_box:nth-child(6) {
                .comment6 {
                    top: 210px;
                    left: 20px;
                    width: 260px;
                }
            }
        }
        &_title_main::after {
            top: 7px;
            left: 125px;
        }
    }
}