@import '../variables';
.plans_about {
    width: 653px;
    P {
        padding-bottom: 70px;
    }
}
.plans_title {
    position: relative;
    color: var(--grayscale-black, #000);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: uppercase;
    width: auto;
    padding-bottom: 20px;
    &::after {
        position: absolute;
        content: '';
        top: 10px;
        left: 140px;
        width: 530px;
        height: 2px;
        background: #000;
    }
}
.plans_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 100px;
    &_card {
        -ms-flex-preferred-size: 23.1vw;
            flex-basis: 23.1vw;
        width: 380px;
        height: 650px;
        img {
            margin: 0 10px;
            height: 375px;
            padding-bottom: 30px;
        }
    }
}
.card_text {
    padding-left: 10px;
    padding-right: 50px;
    h5 {
        color: #000;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        text-transform: uppercase;
        padding-bottom: 11px;
    }
    p {
        color: #9C9C9C;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
        // padding-bottom: 30px;
        height: 155px;
    }
    a {
        color: #fff;
        padding: 14px 32px;
        background: $PrimaryBlue100;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
    .plans_block {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-bottom: 100px;
        &_card {
            -ms-flex-preferred-size: 23.1vw;
                flex-basis: 23.1vw;
            width: 400px;
            height: 650px;
            img {
                margin: 0 10px;
                width: 350px;
                height: auto;
                padding-bottom: 58px;
            }
            .img_low {
                padding-bottom: 70px;
            }
        }
    }
    .card_text {
        padding-right: 40px;
        width: 370px;
    }
}
@media screen and (max-width: 767px) {
    .plans_about {
        width: 300px;
        P {
            padding-bottom: 40px;
            font-size: 16px;
        }
    }
    .plans_title {
        font-size: 12px;
        padding-bottom: 31px;
        &::after {
            top: 9px;
            left: 105px;
            width: 240px;
        }
    }
    .plans_block {
        margin-bottom: 120px;
        row-gap: 10px;
        &_card {
            width: 380px;
            height: auto;
            padding-bottom: 45px;
            img {
                margin: 0 10px;
                width: 300px;
                height: 270px;
                padding-bottom: 16px;
            }
        }
    }
    .card_text {
        padding-right: 0;
        h5 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
            height: 100px;
            width: auto;
        }
        a {
            padding: 14px 28.2%;
        }
    }
}