.plans_about {
    width: 653px;
    P {
        padding-bottom: 70px;
    }
}
.plans_title {
    color: var(--grayscale-black, #000);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: uppercase;
    width: auto;
    padding-bottom: 20px;
    &::after {
        position: absolute;
        content: '';
        top: 1375px;
        left: 410px;
        width: 530px;
        height: 2px;
        background: #000;
    }
}
.plans_block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 100px;
    &_card {
        flex-basis: 23.1vw;
        width: 380px;
        height: 650px;
        img {
            margin: 0 10px;
            height: 375px;
            padding-bottom: 30px;
        }
    }
}
.card_text {
    padding-left: 10px;
    padding-right: 50px;
    h5 {
        color: #000;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        text-transform: uppercase;
        padding-bottom: 11px;
    }
    p {
        color: #9C9C9C;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
        // padding-bottom: 30px;
        height: 155px;
    }
    a {
        color: #fff;
        padding: 14px 32px;
        background: $PrimaryBlue100;
        margin-bottom: 35px;
    }
}
